.frame{
	width: 600px;
	height:auto;
	padding: 50px 30px 50px 30px;
	margin: auto;
	margin-top: 200px;
	background-color: #eaeaea;
	border-radius: 20px;
	color: white;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-family: font-family: Arial, "Lucida Grande";
	}

@media(max-width: 768px){
	.frame{
		padding: 20px;
		width: auto;
		margin: 20px 20px 100px 20px;
	}
}

.formularioRegistro{
	margin-top: 200px;
	font-family: font-family: Arial, "Lucida Grande";
	}

.label{
	margin-left: 20px;
	color: #fcb7af;
}

.alert_messages{
	width: 400px;
	margin-bottom: -200px;
	padding-top: 120px;	
	}

@media(max-width: 768px){
	.alert_messages{
		width: 400px;
		margin-bottom: -20px;	
	}
}


.link_register{
	color: #fa34df;
	}

.link_register:hover{
	color: #bc98f3;
	}

.input{
	font-family: Arial, "Lucida Grande" !important;
	overflow: hidden;
	}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.button-form{
	font-family: font-family: Arial, "Lucida Grande" i !important;
}