{% extends "base.html" %}
{% block content %} 

<div class="container-fluid dashboard">
	<div class="row flex-nowrap">
		<div class="bg-dark col-auto col-md-4 col-lg-4 col-xl-3 min-vh-100">	
			<div class="bg-dark icon-dash-profile">

				<a class="text-decoration-none text-white">
					<span class="icon-dash d-none d-sm-inline icon-home3"></span><span class="fs-4 d-none d-sm-inline">DASHBOARD</span></a>


				<ul class="nav nav-pills flex-column mt-5">
					<li class="nav-item ">
						<a href="#" class="nav-link" aria-current="page"><span class=" icon-dash icon-profile"></span> <span class="fs-4 d-none d-sm-inline">Perfil</span></a>
					</li>

					<li class="nav-item ">
						<a href="#" class="nav-link" aria-current="page"><span class=" icon-dash icon-home3"></span> <span class="fs-4 d-none d-sm-inline">Contactos</span></a>
					</li>

					<li class="nav-item ">
						<a href="#" class="nav-link" aria-current="page"><span class=" icon-dash icon-home3"></span> <span class="fs-4 d-none d-sm-inline">Otro</span></a>
					</li>

					<li class="nav-item ">
						<a href="#" class="nav-link" aria-current="page"><span class=" icon-dash icon-home3"></span> <span class="fs-4 d-none d-sm-inline">Otro-1</span></a>
					</li>

					<li class="nav-item ">
						<a href="#" class="nav-link" aria-current="page"><span class=" icon-dash icon-home3"></span> <span class="fs-4 d-none d-sm-inline">Otro-2</span></a>
					</li>

				</ul>

			</div>
		</div>
	</div>
</div>





{% endblock %}